[dir="rtl"] body {
    background: #ecf1f9 !important;
}
[dir="rtl"] a,
[dir="rtl"] button,
[dir="rtl"] .btn,
[dir="rtl"] ol li a,
[dir="rtl"] ul li a {
    text-decoration: none !important;
}
[dir="rtl"] .dropdown-item.active,
[dir="rtl"] .dropdown-item:active,
[dir="rtl"] .nav-pills .nav-link.active,
[dir="rtl"] .nav-pills .show > .nav-link,
[dir="rtl"] .btn-primary {
    background-color: #4876FF !important;
}
[dir="rtl"] .btn-primary {
    border-color: #4876FF !important;
}

[dir="rtl"] .text-primary,
[dir="rtl"] .arabic-primary-clr,
[dir="rtl"] .nav-link {
    color: #4876FF !important;
}

[dir="rtl"] .nav-link.active {
    color: #fff !important;
}

[dir="rtl"] ol,
[dir="rtl"] ul {
    padding-right: 0;
}
[dir="rtl"] .section-container {
    padding-right: 300px;
    padding-left: 0;
}

[dir="rtl"] .section-container.active {
    padding-left: 0;
    padding-right: 80px;
}
[dir="rtl"] .side-bar {
    left: unset;
    right: 0;
}
[dir="rtl"] .sidebar-opner {
    margin-right: 0;
    margin-left: 20px;
}
[dir="rtl"] .side-bar-manu li a .sidebar-icon {
    margin-left: 10px;
    margin-right: 0;
}
[dir="rtl"] .side-bar.active .side-bar-manu li a .sidebar-icon {
    margin-right: 0;
    margin-left: 30px;
    left: unset;
    right: -10px;
}
[dir="rtl"] .side-bar-manu li .dropdown-menu li {
    padding-right: 15px;
    padding-left: 0;
}
[dir="rtl"] .side-bar-manu li .dropdown-menu {
    margin-left: 0;
    margin-right: 20px;
    border-left: 0;
    border-right: 1px solid #fff;
}
[dir="rtl"] .side-bar-manu .dropdown::before {
    left: 15px;
    right: unset;
    transform: rotate(180deg);
}

[dir="rtl"] .gpt-dashboard-card .couter-box .icons {
    margin-left: 5px;
}
[dir="rtl"] .gpt-dashboard-card .couter-box h5,
[dir="rtl"] .gpt-dashboard-card .couter-box p {
    margin-bottom: 0;
}
[dir="rtl"] .gpt-dashboard-chart .card-header .gpt-up-down-arrow span {
    left: 20px !important;
    right: unset !important;
}
[dir="rtl"] .print-btn i {
    margin-right: 0;
    margin-left: 6px;
}
[dir="rtl"] .password-input .hide-pass {
    left: 10px;
    right: unset;
}
[dir="rtl"] .table-action .dropdown-menu a i {
    margin-left: 7px;
    margin-right: 0;
}
[dir="rtl"] .arabic-text-right {
    text-align: right !important;
}

[dir="rtl"] .order-form-section label {
    left: unset;
    right: 10px;
}
[dir="rtl"] .order-form-section .settings-image-upload .title {
    right: 30px !important;
}

[dir="rtl"] .feature-btn {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}
[dir="rtl"] .table > :not(:last-child) > :last-child > * {
    border-bottom-color: rgba(31, 31, 31, 0.1) !important;
}
[dir="rtl"] .table th {
    background-color: rgba(31, 31, 31, 0.05) !important;
}

@media only screen and (min-width: 1400px) and (max-width: 1500px) {
    [dir="rtl"] .gpt-dashboard-card {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media only screen and (min-width: 550px) and (max-width: 768px) {
    [dir="rtl"] .gpt-dashboard-card {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (min-width: 0px) and (max-width: 400px) {
    [dir="rtl"] .header-left .text-custom-primary {
        font-size: 11px;
    }
}
@media (max-width: 1150px) {
    [dir="rtl"] .side-bar {
        right: -100%;
        left: unset;
    }
    [dir="rtl"] .side-bar.active {
        right: 0;
        left: unset;
    }
    [dir="rtl"] .section-container {
        padding-right: 0;
        padding-left: 0;
    }
    [dir="rtl"] .section-container.active {
        padding-left: 0;
        padding-right: 0;
    }
    [dir="rtl"] .close-btn {
        left: 15px;
        right: unset;
    }
    [dir="rtl"] .side-bar.active .side-bar-manu li a .sidebar-icon {
        margin-left: 0;
    }
}
